@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital@1&family=Teko&display=swap');


*    {
        box-sizing: border-box;
}

body {
        display: flex;
        background-image: url('./images/tickets.jpg');
        background-size: cover;
        background-position: center center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-family: 'Expletus Sans', cursive;
        min-height: 100vh; 
}

h1{
    font-weight: normal; /*deje en normal el groso del "new year*/
    font-size: 4rem;    
    margin-top: 5rem; /*separacion del new year eve con el tiempo/reloj*/
}
.countdown-container {
    display: flex; 
    flex-wrap: wrap; /*me sirve para ajustarlo y que se mantenga responsive*/
    align-items: center;  /*esto igual con lo de abajo y arriba*/
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.countdown-el {
    text-align: center;
}
.countdown-el span{
    font-size: 1.3rem;
}

/*formulario para llenar*/
.contact__content{
    background-color: transparent;
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label{
    padding: 50px;
    font-size: 1rem;
    color: black;
}

.contact__input{
    width: 100%;
    background-color: rgb(131, 150, 255);
    color: black;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

