@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital@1&family=Teko&display=swap');


*    {
        box-sizing: border-box;
}

body {
        display: flex;
        background-image: url('./images/bg.jpg');
        background-size: cover;
        background-position: center center;
        margin: 0;
        font-family: 'Expletus Sans', cursive;
        min-height: 100vh; 
}

aside {
        display: flex;
        background-color: black;
        flex-direction: column;
        font-family: 'Teko', sans-serif;
        justify-content: space-between;
        padding: 1.2rem;
        width: 150px;
        height: 100vh;
}

aside ul {
        padding: 0;
        list-style-type: none;
}

aside a {
        color: white;
        display: inline-block;
        font-size: 1.5rem;
        text-decoration: none;
        margin: 0.5rem;
}

/* From cssbuttons.io by @adamgiebl */
button {
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 17px;
        padding: 0.8em 1.3em 0.8em 0.9em;
        color: white;
        background: #ad5389;
        background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
        border: none;
        letter-spacing: 0.05em;
        border-radius: 16px;
       }
       
       button svg {
        margin-right: 3px;
        transform: rotate(30deg);
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
       }
       
       button span {
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
       }
       
       button:hover svg {
        transform: translateX(5px) rotate(90deg);
       }
       
       button:hover span {
        transform: translateX(7px);
       }
        
       button a{
               color: white;
               text-decoration: none;
       }


main {
        color: white;    /*aca van los estilos del titulo visit the space*/
        font-size: 2.2rem;
        padding: 3rem;
}

main h1 {
        margin: 0; /*subo el h1 arriba del main*/
}

main h3 {
        margin: 0;
        letter-spacing: 10px;
}

footer {
        margin: 0;
}

@media screen and (max-width: 768px) {

body { 
        flex-direction: column-reverse;  /*se baja la columna al revés*/
        justify-content: space-between; /*me dej aseparado arriba los H del aside, y se ve bien el bg al fondo*/
}

main {
        min-height: 60vh;
}

aside {
        height: auto;
        width:100%
}

aside ul {
        display: flex;
        flex-wrap: wrap;
}

.special {
        display: none;  /*los botones se esconden al bajar la resolucion a movil*/
}
}
